@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");


.navbar-area .navbar .navbar-btn .menu-bar {
    font-size: 32px;
    position: relative;
    overflow: hidden;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }